    .iframeContainer {
        padding: 20px;
        border: 1px solid #e3e3e3;
    }
    .h2, h2 {
    font-size: 1.7rem;
    font
}
    html {
        position: relative;
        min-height: 100%;
    }
    
    img {
        vertical-align: middle;
        border-style: none;
    }
    
    header {
        padding-left: 0px;
        text-align: left;
        background: #1abc9c;
        color: rgb(8, 16, 133);
        font-size: 20px;
        width: 1110px;
    }
    
    body {
        /* Padding bottom by footer height */
        padding-bottom: 80px;
        background-image: url(img/digital_globe11.jpg);
    }
    
    #footer {
        position: absolute;
        bottom: 0;
        width: 1110px;
        /* Set the fixed height of the footer here */
        height: 10px;
        color: white;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
        background-color: #1abc9c;
        padding-right: 30px;
    }
    /* article */
    
    .article {
        font-size: 18px;
        font-family: Arial;
        color: rgb(0, 0, 0);
        line-height: 1.7;
        text-align: justify;
        text-justify: inter-word;
        padding-right: 30px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        width: 1110px;
    }
    
    #footer p {
        margin: 0;
        font-size: 16px;
    }
    /* Mobile Rules */